# FOLDERS BEING IGNORED
FRONTEND/
BACKEND/

# NODE.JS
node_modules/

# BUILD ARTIFACTS
dist/
build/

# ENVIRONMENT VARIABLES
.env

# IDE
.vscode/

# CACHE AND LOG
.cache/
log/

# DEPENDENCY LOCK FILES
package-lock.json

# COMPILED OP
public/

# EDITOR-SPECIFIC FILES
.log
.iml
